@model web_back_produktevaluering.web.Models.Evaluering

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>
<hr/>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Karakter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Karakter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EvalueringId">Rediger</a> |
    <a asp-action="Index">Tilbage til evalueringer</a>
</div>