@model IEnumerable<web_back_produktevaluering.web.Models.Evaluering>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forside</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dark">
            Her vises de seneste 10 evalueringer
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Karakter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oprettet)
            </th>
            <th>
                <a asp-controller="Evaluerings" asp-action="Create" class="float-right btn btn-success">Opret ny</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Navn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produkt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Karakter)
                </td>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.Oprettet)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <a asp-controller="Evaluerings" asp-action="Index">Se alle evalueringer</a>
            </td>
        </tr>
    </tfoot>
</table>